<div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <!-- navbar header -->
                    <div class="navbar-header">
                        <!-- toggle button -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <!-- button icon -->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                    <!-- collapse navbar -->
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="">Home</a></li>
                            <li><a href="#" class="">Album</a></li>
                            <li><a href="#" class="">Blog</a></li>
                            <li><a href="#" class="">About</a></li>
                        </ul>
                        <!-- add search form -->
                        <form class="navbar-form navbar-left" role="search">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this site">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                        <!-- navbar pull right -->
                        <ul class="nav navbar-nav pull-right">
                            <!-- dropdown menu -->
                            <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Change Password</a></li>
                                    <li><a href="#">My Profile</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>