@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
// body {
//     padding-top: 50px;
// }

.detail {
    padding: 10px 20px;
    font-family: Arial,Helvetica, sans-serif;
    font-size: 22px;
}
.title {
    padding: 20px 30px;
    font-family: Helvetica, Arial,sans-serif;
    font-size: 44px;
}
.panel-footer {
    background-color: #3498db;
    font-size: 22px;
}
.imgChooser {
    margin: 20px 0;
}
.navbar li {
    box-sizing: border-box;

}
#createPost {
    display: none;
}
.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.navbar .nav > li.dropdown.open.active > a:hover, 
// .navbar .nav > li.dropdown.open > a
// {
//    color: #0D4896;
//    background-color: rgba(243, 36, 36, 0.8);
//    border-color: #fff;
// }
// .navbar,
.dropdown-menu {
    background: #C62828;
    border: none;
}

.nav>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a,
.dropdown-menu>li {
    border-bottom: 3px solid transparent;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    border-bottom: 3px solid transparent;
    background: rgba(154, 154, 154, 0.27);
}

.navbar a,
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-toggle {
    color: #fff;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover,
.nav li.active {
    border-bottom: #EF9A9A 4px solid;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #000000;
}


/*left nav*/

#left-nav {
    // width: 20%;
    background: #03A9F4;
    height: auto;
}

#left-nav ul {
    list-style: none;
    transition: 0.5s;
    min-height: 400px;
    font-size: 22px;
}


/* main content*/

#content {
    // float:left;
    box-sizing: border-box;
    font-size: 22px;
    padding: 20px 40px;
    // width: 80%;
    background: #263238;
    color: #fff;
    transition: margin-left 0.5s;
}


/* footer */

footer {
    clear: both;
}

// hide left nav when screen gone small
@media screen and (max-width: 677px) {
    #left-nav {
        //display: none;
        width: 0px;
    }
    .open-slide {
        display: block;
    }
    #content {
        width: 100%;
    }
}

// show left nav when screen enough big
@media screen and (min-width: 678px) {
    #left-nav {
        width: 20%;
        float: left;
    }
    .open-slide {
        display: none;
    }
    #content {
        width: 80%;
        float: left;
    }
}
/* Breadcrum */
breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}
/* Breadcrum */

/* footer */
#footer {
    padding-top:15px;
    font-size:32px;
    min-height: 100px;
    color:white;
    background-color: #d31712;
    }
/* footer */
/* left sidebar */
.leftnav li {
    list-style: none;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 26px;
}
/* left sidebar */
/* generic */
a:hover {
    text-decoration: none;
}
.glyphicon {
    color: #2ecc71;
}
/* generic */

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/assets/avatar.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
